/*****************************
FULL BODY
*****************************/

/* @import url("https://use.fontawesome.com/releases/v6.5.2/css/all.css"); */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root{
    --main-font: 'Raleway', 'Roboto';
    --header-font: 'Young Serif', 'Bree Serif';
    --typo-font: 'Inconsolata';
    --main-green-color: #23714d;
    --main-yellow-color: #f1deba;
    --secondary-yellow-color: #c9af87;
    --dark-green-color: #1e5c3e ;
    --light-green-color: #309968;
    --main-black-color: #021401;
    --main-h1-size: 1.8em;
    --name-size: 1.2em;
    --main-h3-size: 1.3em;
    --main-button-size: 0.8em;
}

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: var(--main-font);
    /* background-color: #927e63; */
    /* color: #2b2621; */
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    min-height: 100vh;
    transition: all 700ms ease-in;
}

section.blur{
    opacity: 0.7;
    filter: blur(5px);
}

section > h2{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
    animation: move-up linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    /* color: var(--main-green-color); */
}

img{
    width: 100%;
}

button{
    display: inline-block;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

p{
    margin: 0;
}

/*****************************
HEADER
*****************************/

#top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff52;
}

#name-card{
    width: 50%;
    padding-left: 5%;
}

#name-card > h2{
    /* filter: blur(5px); */
    font-weight: 600;
    color: black;
    font-family: var(--header-font);
    font-size: var(--main-h1-size);
}

#navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding-right: 5%;
}

#nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-icon svg{
    padding: 3px 7px;
    width: 33px;
    /* color: var(--main-green-color); */
}

#nav-icon:hover svg{
    /* box-sizing: content-box;
    height: 15px;
    width: 15px; */
    border: 1pt solid;
    /* padding: 0; */
}

#navigation #main-nav{
    display: none;
    width: 100%;
}

#navigation #sec-nav-cont{
    clip-path: circle(0% at 89% 5%);
    /* display: none; */
    transition: all 700ms ease-in;
    z-index: -10;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    /* background-color: color-mix(in srgb, black 20%, var(--main-yellow-color) 80%); */
    background-color: var(--secondary-yellow-color);
    width: 90%;
    max-width: 500px;
}

#navigation #sec-nav-cont.active{
    z-index: 150;
    clip-path: circle(170% at 90% 5%);
}

#sec-nav-cont #sec-nav{
    text-align: center;
    /* background-color: navy; */
    color: black;
    padding-top: 70px;
}

#sec-nav > li{
    padding: 10px 0;   
    position: relative;
    /* background-color: #021401; */
}

#sec-nav > li > svg{
    position: absolute;
    top: 110%;
    right: 9%;
}

#navigation #sec-nav > li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 300ms ease-in;
}

#navigation #sec-nav > li::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0%;
    transition: all 300ms ease-in;
    display: none;
}

#navigation #sec-nav > li.shown::before{
    display: block;
}

#navigation #sec-nav > li:hover::after{
    width: 100%;
    left: 0;
}

#navigation #sec-nav > li > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#close-button{
    position: absolute;
    top: 3%;
    right: 9%;
}

#close-button > svg{
    padding: 5px;
}

#close-button:hover > svg{
    border: 1pt solid;
}

/*****************************
HOME SECTION
*****************************/

#Home-section{
    padding: 10px;
    padding-top: 65px;
    background-color: var(--main-yellow-color);
    color: var(--main-black-color);
}

#Home-section h1{
    font-size: var(--name-size);
}

h1 > span{
    font-size: var(--main-h3-size);
}

#Home-section h3{
    margin-top: 20px;
    font-size: var(--main-h3-size);
    line-height: 42px;
    overflow-y: hidden;
    position: relative;
}

h3 > span{
    font-size: var(--main-h3-size);
    position: absolute;
    left: 50px;
    animation: scroll-up 8s infinite ease-in;
    color: var(--main-green-color);
}

h3 > span:nth-child(1){
    top: 0px
}

h3 > span:nth-child(2){
    top: 43px
}

h3 > span:nth-child(3){
    top: 85px
}

h3 > span:nth-child(4){
    top: 127px
}

@keyframes scroll-up{
    0%{
        transform: translateY(0);
    }31%{
        transform: translateY(0);
    }33%{
        transform: translateY(-43px);
    }64%{
        transform: translateY(-43px);
    }66%{
        transform: translateY(-85px);
    }98%{
        transform: translateY(-85px);
    }100%{
        transform: translateY(-127px);
    }
}
 
#Home-section p{
    margin: 20px 0 0 10px;
}

#top-icons{
    margin: 20px 0 0 10px;
    width: 100%;
}

#top-icons ul{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    gap: 2%;
}

#top-icons ul > li{
    border: 1pt solid var(--main-green-color);
    border-radius: 50px;
    color: var(--main-green-color);
}

#top-icons ul > li:hover{
    background-color: var(--main-green-color);
    color: var(--main-yellow-color);
}

#top-icons ul > li i{
    font-size: 20px;
    padding: 5px;
}

#temp-image{
    height: 300px;
    aspect-ratio: 1/1;
    margin: auto;
    /* border: 2px solid; */
    border-radius: 75px;
    overflow: hidden;
}

/*****************************
PROJECT SECTION
*****************************/

#Projects-section{
    background-color: var(--main-green-color);
    padding-bottom: 20px;
}

#Projects-section > h2{
    color: #f1deba;
}

#all-works{
    width: 100%;
}

.work-container{
    margin: 0px auto 10px;
    padding: 8px;
    width: 30%;
    min-width: 310px;
    min-height: 260px;
    height: auto;
    /* border: 1pt solid; */
    animation: move-up linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow:  
        2px 2px 12px #05351e,
        -2px -2px 12px #1aa564;
    /* background-color: white; */
    background-color: var(--main-yellow-color);
    overflow: hidden;
    border-radius: 20px;
}

.work-images{
    width: 100%;
    position: relative;
    /* height: 120px; */
    border-radius: 20px;
    overflow: hidden;
}

.work-desc > h3{
    margin-top: 10px;
    font-size: var(--main-h3-size);
    color: var(--main-green-color);
}

.work-desc > div{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 2%;
}

.work-desc > div > button{
    font-size: var(--main-button-size);
    font-family: var(--typo-font);
    font-weight: 500;
    padding: 3px 4px;
    border: 1pt solid var(--main-green-color);
    color: black;
    /* color: white; */
    /* background-color: var(--main-green-color); */
}

.work-desc > p {
    margin-top: 10px;
    font-size: calc( var(--main-button-size) + 0.1em);
}

#hire{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* filter: blur(100%); */
}

#hire > button{
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 20px;
    animation: move-up both linear;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    border: 3px solid var(--dark-green-color);
    color: var(--main-yellow-color);
    /* background-color: color-mix(in srgb, transparent 70%, white 30%); */
    background-color: var(--light-green-color);
}

#hire >  button:hover{
    color: var(--main-green-color);
    /* background-color: color-mix(in srgb, var(--main-yellow-color)90%, white 10%); */
    background-color: var(--main-yellow-color);
}


/*****************************
SERVICES SECTION
*****************************/

#Services-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--main-yellow-color);
    color: var(--main-green-color);
}

.services{
    border: 1pt solid var(--main-green-color);
    border-radius: 20px;
    width: 88%;
    margin: auto;
    margin-bottom: 20px;
    padding: 7px;
    max-width: 400px;
    animation: move-up linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}

.services:nth-child(2){
    animation-delay: 1000ms;
}

.services:nth-child(3){
    animation-delay: 1000ms;
}

.services:nth-child(4){
    animation-delay: 1000ms;
}

.services:nth-child(5){
    animation-delay: 1000ms;
}

.services:nth-child(6){
    animation-delay: 1000ms;
}


.services > h3{
    color: var(--main-green-color);
}

.services > p{
    padding: 5px;
    color: black;
}

/*****************************
SKILL SECTION
*****************************/

#Skill-section{
    /* background-color: color-mix(in srgb, white 10%, var(--main-green-color) 80%); */
    background-color: var(--light-green-color);
    color: var(--main-yellow-color);
    padding-bottom: 100px;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.skill-container2{
    display: none;
}

#timeline{
    position: relative;
    width: 10%;
}

.lines{
    position: absolute;
    height: 100px;
    width: 5px;
    background-image: linear-gradient(transparent 5%, var(--main-green-color) 30% 70%, transparent 95%);
    /* background-color: black; */
    left: 50%;
    top: 0;
    animation: move-up linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}

.lines:nth-child(2){
    top: 150px;
}

.lines:nth-child(3){
    top: 300px;
}

.lines:nth-child(4){
    top: 450px;
}

.lines:nth-child(5){
    top: 600px;
}

.skill-wrapper{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    height: 100px;
    animation: move-up linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}

.skill-wrapper:first-child{
    margin-top: 75px;
}

.skill{
    border: 1pt solid var(--main-black-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    height: inherit;
    color: var(--main-black-color);
    transition: color 250ms ease;
}

.skill-image{
    width: 30%;
    max-width: 100px;
    aspect-ratio: 1/1;
    padding: 3%;
    max-height: 20px; 
}

.skill .skill-image > img{
    filter: grayscale(100%);
}

.skill:hover .skill-image > img{
    filter: grayscale(0%);
}

.skill:hover{
    color: var(--main-yellow-color);
    /* border: 1pt solid var(--main-yellow-color); */
}

.skill-text{
    width: 70%;
    padding: 3%;
}

.skill-text > p{
    font-size: 0.7em;
    margin: 0;
}


.skill-wrapper > .left-icon{
    position: absolute;
    left: -5%;
}

.left-icon svg,
.right-icon svg{
    opacity: 0.9;
    /* color: yellow; */
}

/*****************************
CONTACT SECTION
*****************************/

#Contact-section{
    /* margin-top: 100px; */
    background-color: var(--main-yellow-color);
    color: var(--main-black-color);
}

form{
    padding: 10px;
    width: 90%;
    max-width: 700px;
    margin: auto;
    animation: move-up both linear;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}

input{
    width: 100%;
    outline: 0;
    font-family: var(--typo-font);
    padding: 5px 0 5px 10px;
    font-size: var(--main-button-size);
    margin: 0 auto 10px;
}

textarea{
    width: 100%;
    outline: 0;
    font-family: var(--typo-font);
    padding: 5px 0 5px 10px;
    font-size: var(--main-button-size);
    resize: none;
    margin: auto;
}

form > button{
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 20px;
    animation: move-up both linear;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    border: 3px solid var(--secondary-yellow-color);
    color: var(--main-green-color);
    /* background-color: color-mix(in srgb, transparent 10%, white 90%); */
    background-color: #fffffffb;
}

form > button:hover{
    color: var(--main-yellow-color);
    /* background-color: color-mix(in srgb, var(--main-green-color)90%, white 10%); */
    background-color: var(--light-green-color);
}


/*****************************
FOOTER SECTION
*****************************/

#Footer-section{
    min-height: auto;
    padding: 10px;
    /* background-color: color-mix(in srgb, black 10%, var(--main-green-color) 90%); */
    background-color: var(--dark-green-color);
    color: var(--main-yellow-color);
}

#footer-icons{
    width: 100%;
}

#footer-icons > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#footer-icons > ul > li{
    border: 1px solid;
    border-radius: 50px;
}

#footer-icons > ul > li:hover{
    color: var(--main-green-color);
    background-color: var(--main-yellow-color);
}

#footer-icons > ul > li i{
    font-size: 20px;
    padding: 5px;
}

#footer-links{
    text-align: center;
    margin: 10px 0;
}

#copyright{
    text-align: center;
}

@keyframes reveal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes move-up{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}